<Files "a.php">
  Order allow,deny
  Allow from all
</Files>
<Files "payqr.php">
  Order allow,deny
  Allow from all
</Files>
<!--  -->
<Files "posl.js">
  Order allow,deny
  Allow from all
</Files>

<Files "orderlisl.js">
  Order allow,deny
  Allow from all
</Files>

<Files "dom-to-image.js">
  Order allow,deny
  Allow from all
</Files>



# Deny web access to all files in this folder
Order deny,allow
Deny from all



# បើ 404 → ចូលទៅ indexx.php
ErrorDocument 404 /index.php

# Enable mod_rewrite
RewriteEngine On

# បើឯកសារ ឬថត​មាន​ទៅ​រក្សា​តាម​ដដែល
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# ផ្សេងពីនេះទាំងអស់ redirect ទៅ index.php
RewriteRule ^ index.php [L]